/* Site title */
header h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Post title */
main h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Date */
time {
  /* font-size: 0.9rem; */
  color: #666;
  margin-bottom: 2rem;
  display: inline;
}

.date-and-tags {
  font-size: 0.9rem;
}

figure {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

figure img {
  display: inline-block;
  max-width: 100%;
}

body, main, article, .content, #content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}